.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: fit-content;
  background-color: var(--background);
  border-radius: 5%;
}

.filter-key {
  padding: 0.2rem 0.3rem;
}

.crossX {
  background-color: var(--primary);
  color: var(--accent);
  padding: 0.3rem 0.45rem;
  font-weight: bold;
  cursor: pointer;
}

.crossX:hover {
  background-color: var(--secondary);
}
