.key-filter {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--accent);
}

.filter-words {
  display: flex;
  flex-direction: row;
  gap: 1.15rem;
}

.clear-btn {
  border: 0;
  background-color: inherit;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--primary);
}

.clear-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Main Component */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.1rem;
  background-color: var(--accent);
}

.left-part {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.company,
.job-title {
  color: var(--primary);
  font-weight: bold;
}

.job-title {
  font-size: 1.125rem;
}

.left-part img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: fill;
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.bottom-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.9rem;
  color: gray;
}

.right-part {
  display: flex;
  gap: 0.7rem;
}

.right-part button {
  border: 0;
  background-color: var(--background);
  padding: 0.4rem;
  font-weight: bold;
  color: white;
}

.right-part button:hover {
  background-color: var(--primary);
  cursor: pointer;
}
