/* Main Component */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--accent);
  margin: 2rem 5rem;
  filter: drop-shadow(0 0 10px var(--background));
}

.left-part {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.company,
.job-title {
  color: var(--primary);
  font-weight: bold;
}

.job-title {
  font-size: 1.125rem;
}

.left-part img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  object-fit: fill;
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.bottom-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.9rem;
  color: gray;
}

.right-part {
  display: flex;
  gap: 0.7rem;
}

.right-part button {
  border: 0;
  background-color: var(--background);
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

.right-part button:hover {
  background-color: var(--primary);
  cursor: pointer;
}
